$brightfield: #fff;
$darkfield: #000;

.numbers {
    display: grid;
    gap: 16px;
    font-size: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.letters {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.letters-after-one {
    padding-left: 80px;
}

.chess-board {
    border: 5px solid #000; 
    width: 900px; 
}

.chess__grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 100px); 
    grid-template-rows: repeat(8, 100px); ;
    border: 2px solid #000;
    width: 800px;

    &-item {
        width: 100px;
        height: 100px;

        &-white {
            background-color: $brightfield;
        }

        &-black {
            background-color: $darkfield;
        }
    }

}